.content
  .up-content
    .up-content__user-name
      メンバー
    .up-content__date
      2019/05/03
  .low-content
    .low-content__message
      メッセージ
.content
  .up-content
    .up-content__user-name
      メンバー
    .up-content__date
      2019/05/03
  .low-content
    .low-content__message
      メッセージ
.content
  .up-content
    .up-content__user-name
      メンバー
    .up-content__date
      2019/05/03
  .low-content
    .low-content__message
      メッセージ
