$side_white: #ffffff;
$side_header_back: #253141;
$side_content_back: #2f3e51;
$light_blue: #38AEF0;
$black_blue: #434A54;
$gray: #999999;
$light_gray: #AAAAAA;
$main_white: #eeeeee;
$main_black: #333333;
$alert_orange: #F35500;
